# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and DBs
chroma_db/
chroma_db_bpe/
*.sqlite3
data/vector_db/
data/logs/
data/.pdf_checkpoint

# VSCode
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db